integration/test/rap4.dtd

<!ELEMENT rapport5 (#PCDATA | i | b)*>
<!ELEMENT rapport4 ANY>
<!ELEMENT rapport3 EMPTY>
<!ELEMENT rapport2 (rapport)>
<!ELEMENT rapport (titre, auteur+, (resume|condense|((a|z),b+,c?))*, chapitre+)>
<!ELEMENT auteur (prenom, nom)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT resume (#PCDATA)>
<!ELEMENT chapitre (titre, (p | section)+)>
<!ELEMENT section (titre, p+)>
<!ELEMENT p (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
